@model Paged<Event>

    <h3 class="mb-3">Woof & Wander Events</h3>
    @if (User.IsInRole("admin"))
        {        
            <a asp-condition=@User.IsInRole("admin") class="btn btn-green" asp-controller="Event" asp-action="Create" title="add an event" aria-label="add an event">Create Event</a>
        }
    

    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th>Id <vc:sort-link column="id"/></th>
                <th>Title <vc:sort-link column="title"/></th>
                <th>Date & Time <vc:sort-link column="eventTime"/></th>
                <th>Location<vc:sort-link column="location"/></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Data)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Title</td>
                    <td>@e.EventTime</td>
                    <td>@e.Location</td>
                    <td class="text-end">
                        <a asp-action="Details" asp-route-id=@e.Id> <i class="bi bi-display-fill"></i>
                        </a>

                        <!--  authorisation check -->
                        @if (User.IsInRole("admin"))

                        {
                            <a asp-action="Edit" asp-route-id=@e.Id>
                                <i class="bi bi-pencil-fill me-2" title="edit event" aria-label="edit event"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <vc:paginator pages="@Model.Pages"/>
