@model Post

<div class="card rounded shadow p-4">
  <!-- Title bar -->
  <div class="border-bottom d-flex align-items-center justify-content-between mb-3">
    <h3 class="text-primary">Delete Post</h3>
  </div>

  <h4 class="my-3 text-danger">Are you sure you want to delete this post?</h4>

  <!-- display the post using a <dl> as per Details.cshtml -->
  <dl class="row">
    <dt class="col-4 pb-1">Title</dt>
    <dd class="col-8 pb-1">@Model.Title</dd>

    <dt class="col-4 pb-1">Post</dt>
    <dd class="col-8 pb-1">@Model.Content</dd>

    <dt class="col-4 pb-1">Image</dt>
    <dd class="col-8 pb-1">@Model.ImagePath</dd>

    <dt class="col-4 pb-1">Posted By</dt>
    <dd class="col-8 pb-1">@Model.CreatedBy</dd>
  </dl>

  <div class="mt-4">
    <form asp-action="DeleteConfirm" asp-route-id="@Model.Id">
      <!-- post Id can be a route param or a hidden input field named 'Id' in the form -->

      <button type="submit" class="btn btn-danger" aria-label="delete">Delete</button>
      <a class="btn btn-secondary" asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
    </form>
  </div>
</div>